/* index.css */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(21, 21, 21);
  min-height: 500vh;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.PhishNet {
  max-width: 150px;
  height: auto;
}

.mission {
  margin: 20px 0;
  color:white;
  font-size: 35px;
}

button {
  font-size: 20px;      /* Larger text */
  padding: 15px 30px;   /* Top & Bottom | Left & Right padding */
  width: auto;          /* Width of the button */
  height: auto;         /* Height of the button */
  cursor: pointer;      /* Cursor changes to pointer when hovering over the button */
}

.name {
  font-size: 90px;
}

.gradient-text {
  font-size: 40px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #2cd8e7, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}


